---
- name: install tomcat on ubuntu
  hosts: all
  become: yes
  tasks:
    - name: install java-11
      ansible.builtin.apt:
        name: openjdk-11-jdk
        update_cache: yes
        state: present
    - name: user gorup add
      ansible.builtin.group:
        name: tomcat
        state: present
    - name: user  add
      ansible.builtin.user:
        name: tomcat
        group: tomcat
        home: /opt/tomcat
        shell: /bin/false
        state: present
    - name: extract tomcat
      ansible.builtin.unarchive:
        src: https://dlcdn.apache.org/tomcat/tomcat-9/v9.0.71/bin/apache-tomcat-9.0.71.tar.gz
        remote_src: yes
        dest: /opt/tomcat/
    - name: sym link creation
      ansible.builtin.file:
        src: /opt/tomcat/apache-tomcat-9.0.71
        path: /opt/tomcat/latest
        state: link
    - name: change permissions
      ansible.builtin.file:
        path: /opt/tomcat/latest
        owner: tomcat
        group: tomcat
        state: directory
    - name: shell script command
      ansible.builtin.command: sh -c 'chmod +x /opt/tomcat/latest/bin/*.sh'
    - name: Create a systemd unit file
      ansible.builtin.copy:
        src: tomcat.service
        dest: /etc/systemd/system/tomcat.service
        owner: tomcat
        group: tomcat
    - name: reload daemon and start tomcat
      ansible.builtin.systemd:
        name: tomcat.service
        daemon_reload: yes
        enabled: yes
        state: started
    - name: copy the users xml
      ansible.builtin.copy:
        src: tomcat-users.xml
        dest: /opt/tomcat/latest/conf/tomcat-users.xml
        owner: tomcat
        group: tomcat
    - name: copy the manager app context file
      ansible.builtin.copy:
        src: context.xml
        dest: /opt/tomcat/latest/webapps/manager/META-INF/context.xml
        owner: tomcat
        group: tomcat
    - name: copy the host manager app context file
      ansible.builtin.copy:
        src: hostmanager-context.xml
        dest: /opt/tomcat/latest/webapps/host-manager/META-INF/context.xml
        owner: tomcat
        group: tomcat
    - name: restart tomcat
      ansible.builtin.systemd:
        name: tomcat.service
        state: restarted
